@model AppInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Edit";
    @* var Inmu = (IList<Inmueble>)ViewBag.inmuebles;
var Inqui = (IList<Inquilino>)ViewBag.inquilinos; *@
    var deuda = ViewBag.deuda;
}

<h1>Renovación</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label" hidden></label>
                <input asp-for="Id" class="form-control" hidden readonly disabled />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <span class="form-control">@ViewBag.inmuebles</span>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <span class="form-control">@ViewBag.inquilinos</span>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinal" class="control-label"></label>
                <input asp-for="FechaFinal" class="form-control" />
                <span asp-validation-for="FechaFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoMensual" class="control-label"></label>
                <input asp-for="MontoMensual" class="form-control" />
                <span asp-validation-for="MontoMensual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="deuda" class="control-label">Monto Adeudado</label>
                <input id="deuda" class="form-control" value="@ViewBag.deuda" disabled />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="form-group">
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
