@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ortega & Asociados</h1>
    <h2>30 Años de Trayectoria</h2><br>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSETNnOtvo8uZl2PYLPonnNPDmTha75HcehLA&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Inquilinos</h5>
                    <p class="card-text">Acceso al Listado</p>
                    <a class="btn btn-primary" asp-controller="Inquilinos">Acceder</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQFjdMHM6vcFsj3_ekLpeDBbAo_kMETx8xakfkJ2owi1kmeT6hy5K3utw4uT_ywjwOsOQ&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Propietarios</h5>
                    <p class="card-text">Acceso al Listado</p>
                    <a class="btn btn-primary" asp-controller="Propietarios">Acceder</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://previews.123rf.com/images/dolgachov/dolgachov1608/dolgachov160807866/61742824-arquitectura-construcci%C3%B3n-hipoteca-bienes-inmuebles-y-concepto-cerca-de-modelo-de-casa-y-las.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Inmuebles</h5>
                    <p class="card-text">Acceso al Listado</p>
                    <a class="btn btn-primary" asp-controller="Inmuebles">Acceder</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://previews.123rf.com/images/dolgachov/dolgachov1608/dolgachov160807866/61742824-arquitectura-construcci%C3%B3n-hipoteca-bienes-inmuebles-y-concepto-cerca-de-modelo-de-casa-y-las.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">En Proceso</h5>
                    <p class="card-text">....</p>
                    <a href="#" class="btn btn-primary">Acceder</a>
                </div>
            </div>
        </div>
    </div>


